/README.md                  export-ignore
/icon.png                   export-ignore
/CHANGELOG.md               export-ignore
/LICENSE.md                 export-ignore
/.gitattributes             export-ignore
